.card {
	width: 258px;
	height: 132px;
	background: #ffffff;
	border-radius: 4px;
	box-shadow: 0px -2px 0px 0px #00000026 inset;
	padding: 12px;

}

.card__header {
	display: flex;
	justify-content: space-between;
}
.card__title {
	font-family: Roboto, sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 16.41px;
	color: #181A19;
}

.card__disc {
	margin: 4px 0 8px 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 14.06px;
	color: #6d7471;
}

.card__body {
	display: inline-flex;
	align-items: flex-start;
	gap: 8px;
}

.card__btn {
	display: flex;
	padding: 4px 8px;
	justify-content: center;
	align-items: center;
	height: 24px;
	gap: 8px;
	border-radius: 4px;
	background: #F6F2FF;
	color: #856EC6;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	border: 1px solid #EBF3EF;

}

.card__btn:hover {
	cursor: pointer;
}
.card__btn_bg {
	background: #FAFFFC;
}

.card__btn span {
	color: #414644;
	font-size: 11px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.card__footer {
	display: inline-flex;
	align-items: center;
	margin-top: 12px;
	gap: 8px;
}

.card__footer img {
	width: 28px;
	height: 28px;
	border-radius: 28px;
	border: 1px solid #C9D2CE;
}

.card__userInfo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2px;
}

.card__userInfo p {
	overflow: hidden;
	color: #969F9B;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 11px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.card__userInfo h3 {
	overflow: hidden;
	color: #414644;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}